body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.numpad{
    background-color: black;
    width: 32.5em;
    height: 30em;
    display: grid;
    grid-template-columns:repeat(3,10em);
    
}
.zero{
    
    
}